
@{
    ViewBag.Title = "CMS || 商品管理 - 添加商品";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
@using WL.Home.Models
@{
    List<CategoryModels> list = ViewData["list"] as List<CategoryModels>;
    List<CategoryModels> CatOne = list.Where(p => p.Rank == 1).ToList();
    List<CategoryModels> CatTwo = list.Where(p => p.Rank == 2).ToList();
    List<CategoryModels> CatThree = list.Where(p => p.Rank == 3).ToList();
}
<link rel="stylesheet" type="text/css" href="~/Scripts/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css">
<script type="text/javascript" src="~/Scripts/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
<link href="~/Scripts/assets/plugins/MultiImageUploading/webuploader.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Home/Index">首页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="/Article/ArticleView">文章管理</a><i class="fa fa-angle-right"></i></li>
            <li class="active">添加文章</li>
            <li class="btn-group">
                <div class="actions">
                    <button type="button" class="btn blue" onclick="AddShop()">提交</button>
                </div>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>

<div class="row">
    <div class="col-md-6" style="width:100%;" id="c1">
        <div class="portlet green box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list-ul"></i>添加文章
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" method="post" novalidate="novalidate" enctype="multipart/form-data" id="info">
                    <div class="form-body">

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                商品所在栏目:
                            </label>
                            <div class="col-md-6">
                                <select class="form-control" name="Catid">
                                    <option value="-1">请先选择商品所在栏目</option>
                                    @if (CatOne.Count() != 0)
                                    {
                                        foreach (CategoryModels One in CatOne)
                                        {
                                            <option value="@One.id" disabled="disabled">@One.Name (一级栏目)</option>
                                            if (CatTwo.Count() != 0)
                                            {
                                                list = CatTwo.Where(p => p.Parentid == One.id).ToList();
                                                foreach (CategoryModels Two in CatTwo)
                                                {
                                                    if (Two.Parentid == One.id)
                                                    {
                                                        if (Two == list[list.Count() - 1])
                                                        {
                                                            <option value="@Two.id" disabled="disabled">&nbsp;&nbsp;└@Two.Name (二级栏目)</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@Two.id" disabled="disabled">&nbsp;&nbsp;├@Two.Name (二级栏目)</option>
                                                        }
                                                        if (CatThree.Count() != 0)
                                                        {
                                                            list = CatThree.Where(p => p.Parentid == Two.id).ToList();
                                                            foreach (CategoryModels Three in CatThree)
                                                            {
                                                                if (Three.Parentid == Two.id)
                                                                {
                                                                    if (Three == list[list.Count() - 1])
                                                                    {
                                                                        <option value="@Three.id">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└@Three.Name (三级栏目)</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@Three.id">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├@Three.Name (三级栏目)</option>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <option value="-1" disabled="disabled">当前商品栏目下无子栏目</option>
                                                        }
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <option value="-1" disabled="disabled">当前商品栏目下无子栏目</option>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <option value="-1" disabled="disabled">请先添加商品栏目</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                商品名称:
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Name" placeholder="商品名称" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                计量单位:
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Units" placeholder="计量单位" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                品牌:
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Brand" placeholder="品牌" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                优惠价:
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Trueprice" placeholder="优惠价" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                市场价:
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Price" placeholder="市场价" />
                            </div>
                        </div>

                        <div class="form-group" id="">
                            <label class="col-md-3 control-label">
                                详细介绍:
                            </label>
                            <div class="col-md-6">
                                <script type="text/plain" id="content_Body" name="Body" style="height:300px;">
                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                型号:
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Model" placeholder="型号" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                行业:
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="Vocation" placeholder="行业" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">是否推荐</label>
                            <div class="col-md-9">
                                <div class="radio-list">
                                    <label class="radio-inline">
                                        <input type="radio" name="Recommend" value="0" checked /> 不推荐
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="Recommend" value="1" /> 推荐
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="id_positivefrom">
                            <label class="col-md-3 control-label">
                                商品缩略图:
                            </label>
                            <div class="col-md-9">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                        <img src="~/Scripts/assets/img/noImage.png" alt="NotImage" id="img" />
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;">
                                    </div>
                                    <div>
                                        <span class="btn default btn-file">
                                            <span class="fileupload-new">
                                                <i class="fa fa-paper-clip"></i> 略缩图
                                            </span>
                                            <span class="fileupload-exists">
                                                <i class="fa fa-undo"></i> 更改
                                            </span>
                                            <input type="file" class="default" id="id_positive" name="Image" />
                                        </span>
                                        <a href="#" class="btn red fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> 删除</a>
                                    </div>
                                </div>
                                <input type="hidden" id="id_positive_url" name="Image1" value="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                备注:
                            </label>
                            <div class="col-md-6">
                                <textarea class="form-control" rows="3" name="Remarks" placeholder="备注"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                参数:
                            </label>
                            <div class="col-md-6">
                                <button type="button" class="btn green" onclick="AddParameter()">添加参数</button>
                                <div id="Parameter" style="margin-top:10px;">
                                </div>
                            </div>
                            <input type="hidden" name="Parameter" value="" />
                        </div>

                        <div class="form-group" id="">
                            <label class="col-md-3 control-label">
                                品牌证书:
                            </label>
                            <div class="col-md-6">
                                <script type="text/plain" id="content_Certificate" name="Certificate" style="height:300px;">
                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                商品高清图:
                            </label>
                            <div class="col-md-6">
                                <!--dom结构部分-->
                                <div id="uploader-demo">
                                    <!--用来存放item-->
                                    <div id="fileList" class="uploader-list"></div>
                                    <div id="filePicker">选择图片</div>
                                </div>
                                <input type="hidden" value="" name="HighImage" />
                            </div>
                        </div>

                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn green" onclick="AddShop()">提交</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="portlet-body">
                    <div style="text-align: center; display: none;padding:150px 0px;" id="loading1" class="display-none">
                        <div style="margin:0 auto">
                            <img title="progressBar_m" style="BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND-IMAGE: none; BORDER-BOTTOM-WIDTH: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px" height="25" alt="progressBar_m" src="/Scripts/js/loading.gif" width="25" border="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="left:40%;width:500px;position: fixed;display:none;z-index:999;" id="c2">
        <div class="portlet green box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list-ul"></i>添加参数
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            参数名:
                        </label>
                        <input type="text" class="form-control" id="AddParameterNmae" placeholder="参数名">
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            参数值:
                        </label>
                        <input type="text" class="form-control" id="AddParameterVal" placeholder="参数值">
                    </div>

                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="button" class="btn green" onclick="AddParameterYes()">提交</button>
                            <button type="button" class="btn green" onclick="AddParameterNo()">关闭</button>
                            <span id="msg_span"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UE使用案例</title>
<script type="text/javascript" charset="utf-8" src="~/Scripts/assets/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Scripts/assets/plugins/ueditor/ueditor.all.js"></script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="~/Scripts/assets/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
<meta charset="utf-8" />

<!--多图上传插件-->
<script src="~/Scripts/assets/plugins/MultiImageUploading/webuploader.js"></script>

<!--悬浮提交-->
<div style="position:fixed;top:143px;right: 20px;z-index: 9999;display:none;" id="AddShop_f"><button type="button" class="btn blue" onclick="AddShop()">提交</button></div>
<script>
    $(function () {
        $(window).scroll(function () {
            var top = $(".page-breadcrumb li button").offset().top;
            var tops = $(document).scrollTop();
            if (tops > top) {
                $("#AddShop_f").show();
            }
            if (tops < top) {
                $("#AddShop_f").hide();
            }
        });
    });
</script>

<script>
    var json = "";
    var Parameter = [];
    $(function () {
        //UE插件加载
        var Body = UE.getEditor('content_Body');
        var Certificate = UE.getEditor('content_Certificate');

        $("select[name='Catid']").select2();

        $("#Parameter").on("mouseover", "span", function () {
            $(this).addClass("fa fa-trash-o");
        });
        $("#Parameter").on("mouseout", "span", function () {
            $(this).removeClass("fa fa-trash-o");
        });
    });
    function AddParameter() {
        $("#c2").show();
        $("#AddParameterNmae").val("");
        $("#AddParameterVal").val("");
    }
    function AddParameterYes() {
        if ($("#AddParameterNmae").val() == "") {
            $("#msg_span").html("参数名不能为空!");
            return false;
        }
        if ($("#AddParameterVal").val() == "") {
            $("#msg_span").html("参数值不能为空!");
            return false;
        }
        Parameter.push({ "ParameterName": $("#AddParameterNmae").val(), "ParameterData": $("#AddParameterVal").val() });
        json = JSON.stringify(Parameter);
        $("input[name='Parameter']").val(json);
        $("#Parameter").html($("#Parameter").html() + "<span onclick='DelParameter(" + Parameter.length + ")'>参数" + Parameter.length + ":" + $("#AddParameterNmae").val() + "," + $("#AddParameterVal").val()) + "</span>";
        $("#c2").hide();
    }
    function AddParameterNo() {
        $("#c2").hide();
    }
    function DelParameter(id) {
        delete Parameter[id - 1];
        for (var i = 0; i < Parameter.length; i++) {
            if (Parameter[i] == "" || typeof (Parameter[i]) == "undefined") {
                Parameter.splice(i, 1);
                i = i - 1;
            }
        }
        console.log(Parameter);
        json = JSON.stringify(Parameter);

        $("input[name='Parameter']").val(json);
        $("#Parameter").html("");
        var ii = 0;
        for (var temp in Parameter) {
            ii++
            console.log(ii);
            $("#Parameter").html($("#Parameter").html() + "<span onclick='DelParameter(" + ii + ")'>参数" + ii + ":" + Parameter[temp].ParameterName + "," + Parameter[temp].ParameterData + "</span>");
        }
    }
    var options = {
        url: "/Shop/SetShop",
        success: function (data) {
            if (data == "1")//返回的数据用data.d获取内容
            {
                $("#myModal1 .modal-body p").html("成功添加商品栏目");
                $("#msg").trigger('click');
            }
            else {
                $("#myModal1 .modal-body p").html(data);
                $("#msg").trigger('click');
            }
        }
    };
    function AddShop() {
        if ($("select[name='Catid']").find("option:selected").val() == -1) {
            $("#myModal1 .modal-body p").html("请选择商品所在栏目");
            $("#msg").trigger('click');
            _hide();
            return false;
        }
        if ($("input[name='Name']").val() == '') {
            $("#myModal1 .modal-body p").html("请输入商品名称");
            $("#msg").trigger('click');
            _hide();
            return false;
        }
        if ($("input[name='Units']").val() == '') {
            $("#myModal1 .modal-body p").html("请输入商品计量单位");
            $("#msg").trigger('click');
            _hide();
            return false;
        }
        if ($("input[name='Brand']").val() == '') {
            $("#myModal1 .modal-body p").html("请输入商品品牌");
            $("#msg").trigger('click');
            _hide();
            return false;
        }
        if ($("input[name='Trueprice']").val() == '') {
            $("#myModal1 .modal-body p").html("请输入商品优惠价");
            $("#msg").trigger('click');
            _hide();
            return false;
        }
        if ($("input[name='Price']").val() == '') {
            $("#myModal1 .modal-body p").html("请输入商品市场价");
            $("#msg").trigger('click');
            _hide();
            return false;
        }
        if ($("input[name='Model']").val() == '') {
            $("#myModal1 .modal-body p").html("请输入商品型号");
            $("#msg").trigger('click');
            _hide();
            return false;
        }
        if ($("input[name='Vocation']").val() == '') {
            $("#myModal1 .modal-body p").html("请输入商品行业");
            $("#msg").trigger('click');
            _hide();
            return false;
        }
        if ($("input[name='Image']").val() == '') {
            $("#myModal1 .modal-body p").html("请上传商品略缩图");
            $("#msg").trigger('click');
            _hide();
            return false;
        }
        $("#info").ajaxSubmit(options);
    }
    function _show() {
        $("#loading1").hide();
        $("form").show();
    };
    function _hide() {
        $("#loading1").show();
        $("form").hide();
    };
</script>

<!--多图上传插件jq-->
<script>
    $(function () {
        $(".uploader-list").on("mouseover", function () {
            $(this).find(".info").addClass("fa fa-trash-o");
        });
        $(".uploader-list").on("mouseout", function () {
            $(this).find(".info").removeClass("fa fa-trash-o");
        });
        $(".uploader-list").on("click", ".thumbnail1", function () {
            var id = $(this).attr('id');
            $(this).remove();
            for (var temp in HighImage) {
                if (HighImage[temp].ParameterName == id) {
                    delete HighImage[temp];
                }
            }
            json = JSON.stringify(HighImage);
            $("input[name='HighImage']").val(json);
        });
    });

    // 初始化Web Uploader
    var uploader = WebUploader.create({

        // 选完文件后，是否自动上传。
        auto: true,

        // swf文件路径
        swf: "/Scripts/assets/plugins/MultiImageUploading/new/Uploader.swf",

        // 文件接收服务端。
        server: '/Shop/UpLoadProcess',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#filePicker',

        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        },
        compress: {
            crop: true,
        },
        duplicate: true
    });

    // 当有文件添加进来的时候
    uploader.on('fileQueued', function (file) {
        var $li = $(
            '<div id="' + file.id + '" class="file-item thumbnail1">' +
            '<img>' +
            '<div class="info"><p>' + file.name + '</p></div>' +
            '</div>'
        ),
            $img = $li.find('img');


        // $list为容器jQuery实例
        $("#fileList").append($li);

        // 创建缩略图
        // 如果为非图片文件，可以不用调用此方法。
        // thumbnailWidth x thumbnailHeight 为 100 x 100
        uploader.makeThumb(file, function (error, src) {
            if (error) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr('src', src);
        }, 100, 100);
    });

    // 文件上传过程中创建进度条实时显示。
    uploader.on('uploadProgress', function (file, percentage) {
        var $li = $('#' + file.id),
            $percent = $li.find('.progress span');

        // 避免重复创建
        if (!$percent.length) {
            $percent = $('<p class="progress"><span></span></p>')
                .appendTo($li)
                .find('span');
        }

        $percent.css('width', percentage * 100 + '%');
    });

    var json = "";
    var HighImage = [];
    var HighImage_i = 0;
    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on('uploadSuccess', function (file, json) {
        $('#' + file.id).addClass('upload-state-done');
        HighImage_i++;
        HighImage.push({ "ParameterName": file.id, "ParameterData": json.filePath });
        json = JSON.stringify(HighImage);
        $("input[name='HighImage']").val(json);
    });

    // 文件上传失败，显示上传出错。
    uploader.on('uploadError', function (file) {
        var $li = $('#' + file.id),
            $error = $li.find('div.error');

        // 避免重复创建
        if (!$error.length) {
            $error = $('<div class="error"></div>').appendTo($li);
        }

        $error.text('上传失败');
    });

    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on('uploadComplete', function (file) {
        $('#' + file.id).find('.progress').remove();
    });
</script>
<div class="modal-backdrop fade in" style="display:none"></div>

<a href="#myModal1" role="button" class="btn red" data-toggle="modal" style="display:none" id="msg">Alert</a>
<div id="myModal1" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>
                    成功添加商品
                </p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn green" onclick="_show();">确认</button>
            </div>
        </div>
    </div>
</div>