
@{
    ViewBag.Title = "CMS || 商品管理 - 查看商品";
    Layout = "~/Views/Shared/MainMaster.cshtml";
}
@using WL.Home.Models
@{
    List<CategoryModels> list = ViewData["list"] as List<CategoryModels>;
    List<CategoryModels> CatOne = list.Where(p => p.Rank == 1).ToList();
    List<CategoryModels> CatTwo = list.Where(p => p.Rank == 2).ToList();
    List<CategoryModels> CatThree = list.Where(p => p.Rank == 3).ToList();
}
<link rel="stylesheet" type="text/css" href="~/Scripts/assets/plugins/data-tables/DT_bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Scripts/assets/plugins/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="~/Scripts/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs2.css" />
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Home/Index">首页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="/Shop/AddShop">商品管理</a><i class="fa fa-angle-right"></i></li>
            <li class="active">查看商品</li>
            <li class="btn-group">
                <div class="actions">
                    <a href="javascript:;" class="btn blue" onclick="BatchMove();">批量移动</a>
                    <a href="javascript:;" class="btn blue" onclick="BatchDel();">批量删除</a>
                </div>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="p-nav-top">

</div>
<div class="form-inline">
    <div class="form-group">
        <select class="form-control" id="cat" name="cat" style="width:300px;">
            <option value="0">请选择一个商品栏目</option>
            @if (CatOne.Count() != 0)
            {
                foreach (CategoryModels One in CatOne)
                {
                    <option value="@One.id" disabled="disabled">@One.Name (一级栏目)</option>
                    if (CatTwo.Count() != 0)
                    {
                        list = CatTwo.Where(p => p.Parentid == One.id).ToList();
                        foreach (CategoryModels Two in CatTwo)
                        {
                            if (Two.Parentid == One.id)
                            {
                                if (Two == list[list.Count() - 1])
                                {
                                    <option value="@Two.id" disabled="disabled">&nbsp;&nbsp;└@Two.Name (二级栏目)</option>
                                }
                                else
                                {
                                    <option value="@Two.id" disabled="disabled">&nbsp;&nbsp;├@Two.Name (二级栏目)</option>
                                }
                                if (CatThree.Count() != 0)
                                {
                                    list = CatThree.Where(p => p.Parentid == Two.id).ToList();
                                    foreach (CategoryModels Three in CatThree)
                                    {
                                        if (Three.Parentid == Two.id)
                                        {
                                            if (Three == list[list.Count() - 1])
                                            {
                                                <option value="@Three.id">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└@Three.Name (三级栏目)</option>
                                            }
                                            else
                                            {
                                                <option value="@Three.id">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├@Three.Name (三级栏目)</option>
                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    <option value="-1" disabled="disabled">当前商品栏目下无子栏目</option>
                                }
                            }
                        }
                    }
                    else
                    {
                        <option value="-1" disabled="disabled">当前商品栏目下无子栏目</option>
                    }
                }
            }
            else
            {
                <option value="-1" disabled="disabled">请先添加商品栏目</option>
            }
        </select>
    </div>
    <div class="form-group">
        <div class="input-group input-small date-picker input-daterange" data-date="2014-01-01" data-date-format="yyyy-mm-dd">
            <input type="text" class="form-control input-small" name="from" id="fromTime" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")">
            <span class="input-group-addon">
                to
            </span>
            <input type="text" class="form-control input-small" name="to" id="toTime" value="@DateTime.Now.ToString("yyyy-MM-dd")">
        </div>
    </div>
    <input type="hidden" id="fromTime" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" />
    <input type="hidden" id="toTime" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
    <div class="form-group">
        <button type="button" class="btn blue" id="btnChange" onclick="Time()">查询</button>
    </div>
</div>
<div class="clearfix">
    <br>
</div>
<div class="row">
    <div class="col-md-12" id="col-md-1">
        <!-- END EXAMPLE TABLE PORTLET-->
        <div class="portlet box grey">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>查看商品
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <thead>
                        <tr>
                            <th class="table-checkbox">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                            </th>
                            <th>
                                ID
                            </th>
                            <th>
                                名称
                            </th>
                            <th>
                                上架时间
                            </th>
                            <th>
                                品牌
                            </th>
                            <th>
                                价格
                            </th>
                            <th>
                                型号
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody id="detaillist"></tbody>
                </table>
            </div>
            <input type="hidden" id="hidID" value="" />
        </div>
    </div>
    <div class="col-md-6" style="width:100%;display:none;" id="col-md-2">
        <div class="portlet green box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list-ul"></i>商品移动到
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body" id="form_div">
                    <label class="col-md-3 control-label" style="width:100%;">
                        三级栏目:
                    </label>
                    <div class="col-md-6" style="float:none;">
                        <select class="form-control" id="BatchCat">
                        <option value="0">请选择栏目</option>
                        @if (CatOne.Count() != 0)
                        {
                            foreach (CategoryModels One in CatOne)
                            {
                                <option value="@One.id" disabled="disabled">@One.Name (一级栏目)</option>
                                if (CatTwo.Count() != 0)
                                {
                                    list = CatTwo.Where(p => p.Parentid == One.id).ToList();
                                    foreach (CategoryModels Two in CatTwo)
                                    {
                                        if (Two.Parentid == One.id)
                                        {
                                            if (Two == list[list.Count() - 1])
                                            {
                                                <option value="@Two.id" disabled="disabled">&nbsp;&nbsp;└@Two.Name (二级栏目)</option>
                                            }
                                            else
                                            {
                                                <option value="@Two.id" disabled="disabled">&nbsp;&nbsp;├@Two.Name (二级栏目)</option>
                                            }
                                            if (CatThree.Count() != 0)
                                            {
                                                list = CatThree.Where(p => p.Parentid == Two.id).ToList();
                                                foreach (CategoryModels Three in CatThree)
                                                {
                                                    if (Three.Parentid == Two.id)
                                                    {
                                                        if (Three == list[list.Count() - 1])
                                                        {
                                                            <option value="@Three.id">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└@Three.Name (三级栏目)</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@Three.id">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├@Three.Name (三级栏目)</option>
                                                        }
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <option value="-1" disabled="disabled">当前商品栏目下无子栏目</option>
                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    <option value="-1" disabled="disabled">当前商品栏目下无子栏目</option>
                                }
                            }
                        }
                        else
                        {
                            <option value="-1" disabled="disabled">请先添加商品栏目</option>
                        }
                    </select>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="button" class="btn green" onclick="BatchMoveOk()">提交</button>
                            <button type="button" class="btn green" onclick="BatchMoveNo()">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center; display: none;padding:150px 0px;" id="loading1">
    <div style="margin:0 auto">
        <img title="progressBar_m" style="BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND-IMAGE: none; BORDER-BOTTOM-WIDTH: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px" height="25" alt="progressBar_m" src="/Scripts/js/loading.gif" width="25" border="0">
    </div>
</div>
<script type="text/javascript" src="~/Scripts/assets/plugins/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="~/Scripts/assets/plugins/data-tables/DT_bootstrap.js"></script>

<!-- 日历控件 -->
<script type="text/javascript" src="~/Scripts/assets/plugins/fuelux/js/spinner.min.js"></script>
<script type="text/javascript" src="~/Scripts/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Scripts/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
<script src="~/Scripts/assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<!-- 汉化日历控件 -->
<script src="~/Scripts/js/jquery.ui.datepicker-zh-CN.js" type="text/javascript"></script>


<script>
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }
    $(function () {

        handleDatePickersT();
        $("#cat").select2();
        $("#cat").change(function () {
            editableTable.reload("sample_1", "/Shop/ColumuIdGetShopList?cid=" + $("#cat").find("option:selected").val());
        });

        editableTable.init("sample_1", "/Shop/ColumuIdGetShopList?cid=" + 0, true, true, [0,7], 3, "desc", [
                {
                    "fnRender": function (obj) {
                        return '<input type="checkbox" class="checkboxes" data-type="' + obj.aData.id + '"/>';
                    }
                },
                { "mData": "id" },
                {
                    "fnRender": function (obj) {
                        return "<a href='" + obj.aData.Remarks + "' target='_blank'>" + obj.aData.Name + "</a>";
                    }
                },
                { "mData": "Certificate" },
                { "mData": "Brand" },
                { "mData": "Trueprice" },
                { "mData": "Model" },
                {
                    "fnRender": function (obj) {
                        var str = "";
                        str += "<a class='btn btn-xs blue' href='/Shop/EditShop?sid=" + obj.aData.id + "'>编辑</a>  ";
                        str += "<a class='btn btn-xs red' href='javascript:;' onclick=ShopDelete('" + obj.aData.id + "')>删除</a>";
                        return str;
                    }
                }
        ]);
    });

    function Time() {
        editableTable.reload("sample_1", "/Shop/TimeGetShopList?&st=" + $("#fromTime").val() + "&et=" + $("#toTime").val());
    };

    jQuery('#sample_1 .group-checkable').change(function () {
        var set = jQuery(this).attr("data-set");
        var checked = jQuery(this).is(":checked");
        jQuery(set).each(function () {
            if (checked) {
                $(this).attr("checked", true);
                $(this).parents('tr').addClass("active");
            } else {
                $(this).attr("checked", false);
                $(this).parents('tr').removeClass("active");
            }
        });
        jQuery.uniform.update(set);
    });
    var sid = 0;
    function ShopDelete(id) {
        sid = id;
        $("#cf").trigger('click');
    };
    function okShopDelete() {
        _hide();
        //删除栏目
        $.ajax({
            type: "post", //要用post方式
            data: "{'sid':'" + sid + "'}",
            url: "/Shop/DelShop",//方法所在页面和方法名
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data == "1")//返回的数据用data.d获取内容
                {
                    $("#myModal1 .modal-body p").html("删除商品成功");
                    $("#msg").trigger('click');
                    sid = 0;
                }
                else {
                    $("#myModal1 .modal-body p").html("删除商品失败");
                    $("#msg").trigger('click');
                    sid = 0;
                }
            }
        });
    };

    function BatchDel() {
        $("#cf1").trigger('click');
    }
    function BatchDelOk() {
        _hide();
        var myArray = new Array()
        var $Move = $('.checkboxes');
        $Move.each(function () {
            var $this = $(this);
            if ($this.is(':checked')) {
                myArray.push($this.data('type'));
            }
        });
        var json = JSON.stringify(myArray);
        $.ajax({
            type: "post", //要用post方式
            data: "{'sid':'" + json + "'}",
            url: "/Shop/BatchDel",//方法所在页面和方法名
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data == "0")//返回的数据用data.d获取内容
                {
                    _show();
                    $("#myModal1 .modal-body p").html("批量删除商品成功");
                    $("#msg").trigger('click');
                    aid = 0;
                }
                else {
                    _show();
                    $("#myModal1 .modal-body p").html("部分商品删除失败");
                    $("#msg").trigger('click');
                    aid = 0;
                }
            }
        });
    }
    var jsonMove = '';
    function BatchMove() {
        $("#col-md-1").hide();
        $("#col-md-2").show();
    }
    function BatchMoveOk() {

        var myArray = new Array()
        var $Move = $('.checkboxes');
        $Move.each(function () {
            var $this = $(this);
            if ($this.is(':checked')) {
                myArray.push($this.data('type'));
            }
        });
        jsonMove = JSON.stringify(myArray);

        _hide();
        $.ajax({
            type: "post", //要用post方式
            data: "{'sid': '" + jsonMove + "','cid':'" + $('#BatchCat').find("option:selected").val() + " '}",
            url: "/Shop/BatchMove",//方法所在页面和方法名
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data == "0")//返回的数据用data.d获取内容
                {
                    _show();
                    $("#myModal1 .modal-body p").html("批量移动商品成功");
                    $("#msg").trigger('click');
                    jsonMove = ''
                }
                else {
                    _show();
                    $("#myModal1 .modal-body p").html("部分商品移动失败");
                    $("#msg").trigger('click');
                    jsonMove = ''
                }
            }
        });

    }
    function BatchMoveNo() {
        jsonMove = '';
        $("#col-md-2").hide();
        $("#col-md-1").show();
    }
    function _hide(){
        $(".row").hide();
        $("#loading1").show();
    }
    function _show(){
        $(".row").show();
        $("#loading1").hide();
    }
</script>
<style>
    #detaillist tr td:nth-child(3) {
        width: 80%;
    }
</style>

<div class="modal-backdrop fade in" style="display:none"></div>

<div id="myModal2" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>
                    确认要删除信息吗？
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn default" data-dismiss="modal" aria-hidden="true">取消</button>
                <button data-dismiss="modal" class="btn blue" onclick="okShopDelete()">提交</button>
            </div>
        </div>
    </div>
</div>
<a href="#myModal2" role="button" class="btn yellow" data-toggle="modal" style="display:none" id="cf">提交</a>


<div id="myModal3" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>
                    确认要删除信息吗？
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn default" data-dismiss="modal" aria-hidden="true">取消</button>
                <button data-dismiss="modal" class="btn blue" onclick="BatchDelOk()">提交</button>
            </div>
        </div>
    </div>
</div>
<a href="#myModal3" role="button" class="btn yellow" data-toggle="modal" style="display:none" id="cf1">提交</a>


<a href="#myModal1" role="button" class="btn red" data-toggle="modal" style="display:none" id="msg">Alert</a>
<div id="myModal1" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>
                    成功删除栏目
                </p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn green" onclick="window.location.reload();">确认</button>
            </div>
        </div>
    </div>
</div>
